body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: cursive;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 35vw;
  height: 34vh;
  border-radius: 12px;
  box-shadow: 0px 0px 11px 2px rgb(0 0 0 / 21%);
  background-color: white;
}

.button-group {
  display: flex;
}

h2 {
  margin: 2vw 0;
  font-size: 2.5vw;
}

button {
  height: 7vh;
  width: 9vw;
  font-family: cursive;
  font-size: 1.5vw;
  border: solid 3px black;
  border-radius: 10px;
  box-shadow: 0px 0px 11px 2px rgb(0 0 0 / 21%);
}

button:hover {
  cursor: pointer;
  transform: scale(1.1);
}

#button-blue {
  background-color: #283593;
  color: white;
  margin-right: 1vw;
}

#button-white {
  background-color: white;
  margin-right: 1vw;
}

#button-red {
  background-color: #ce0505;
  color: white;
}
